@media print {
   
    .root .printable {
        position: relative;
        justify-content: right;

        display: block;
        font-size:18px !important;
        font-weight: bold;
    }
    
}