@media print {
    .footer,
    .non-printable, .title {
        display: none !important;
    }
    .root {
      max-width: 260px;
      max-height: 130px;
    }
    .root .content {
      float: right;
      padding-right: 40px;
    }
    .root .item1{
      float:top;
     
      
    }
     .root .item2{
      float:top;
     
      
      
    }
     .root .item3{
      float:top;
      
    }
     .root .item4{
      float:top;
      
    }

}
.root {

  
    max-width: 350px;
  
  }
 
.root .title {
    font-size: 14;
  }
.root .green {
    margin-bottom: 12;
    color:"red";
  }
.root .red {
    margin-bottom: 12;
    color:"red";
  }
.root .pos {
    margin-bottom: 12,
  }
a { text-decoration: none; }