
body{
    background-color: hsl(0,0%,18%);
}
.Table{
    background: hsl(0,0%,18%);
    color: white;
    z-index: 0;
    
}
.TableRow{
    background: hsl(0,0%,18%);
    color: hsl(0,0%,100%)
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: sticky;
  top: 0;
  -ms-flex-pack: justify;
  justify-content:space-between; 
  flex-wrap: wrap;
  z-index:6;
   
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: hsl(0, 0%, 18%);
}

/* Current/active navbar link */
.active {
  background-color: hsl(158, 80%, 34%);
}
.table .title-first{
 text-align: center;
 justify-content: center;
 color: green;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    
  }
  .table .title{
    display: none;
  }
  .table .first-title {
    display:none;
  }
  .table .second-title {
    font-size: 16px;
  }
  
}
.box{

  width: 300px;

  padding: 40px;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%,-50%);

  background: #191919;

  text-align: center;

}
.box .inputTitle {
  color:white;
}
h1{
  justify-content: center;
  color: white;
  text-align: center;
  
  padding-top: 10;
  

}

.box input[type = "text"],.box input[type = "password"]{

  border:0;

  background: none;

  display: block;

  margin: 20px auto;

  text-align: center;

  border: 2px solid #3498db;

  padding: 14px 10px;

  width: 200px;

  outline: none;

  color: white;

  border-radius: 24px;

  transition: 0.25s;

}
.box .error{
  color:red;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{

  

  border-color: #2ecc71;

}

.box input[type = "submit"] {

  border:0;

  background: none;

  display: block;

  margin: 20px auto;

  text-align: center;

  border: 2px solid #2ecc71;

  padding: 14px 40px;

  outline: none;

  color: white;

  border-radius: 24px;

  transition: 0.25s;

  cursor: pointer;

}

.box input[type = "submit"]:hover{

  background: #2ecc71;
}