
body{
    background-color: hsl(0,0%,18%);
}
.Table{
    background: hsl(0,0%,18%);
    color: white;
    z-index: 0;
    
}
.TableRow{
    background: hsl(0,0%,18%);
    color: hsl(0,0%,100%)
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: sticky;
  top: 0;
  -ms-flex-pack: justify;
  justify-content:space-between; 
  flex-wrap: wrap;
  z-index:6;
   
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: hsl(0, 0%, 18%);
}

/* Current/active navbar link */
.active {
  background-color: hsl(158, 80%, 34%);
}
.table .title-first{
 text-align: center;
 justify-content: center;
 color: green;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    
  }
  .table .title{
    display: none;
  }
  .table .first-title {
    display:none;
  }
  .table .second-title {
    font-size: 16px;
  }
  
}