<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Alle Geräte</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static '/img/server.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
</head>

<body>

    <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-mobile"></i> Lager</a>
        <a href="/defect"><i class="fa fa-fw fa-exclamation"></i> Defekte Geräte</a>
        <a href="handout"><i class="fa fa-fw fa-arrow-left"></i> Offene Aufträge</a>
        <a href="/admin"><i class="fa fa-fw fa-user"></i> Admin</a>
        <a href="/logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>

    </div>
    <div id="main">
        <div id="app"></div>
    </div>

    <script src="{% static 'frontend/main.js' %}"></script>
</body>

</html>