<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Alle Geräte</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static '/img/icon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdn.rawgit.com/adriancooney/console.image/c9e6d4fd/console.image.min.js"></script>
 
</head>

<body>
<div class="header"></div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<script>
    function search() {
        let sn = prompt("Seriennummer eingeben");
            console.log(sn);
            if(sn.length===12){ window.open("http://localhost:8000/devices/" + sn, "_blank").focus();}
           
              
        
    }
</script>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li>DeviceSystem<span>Navigation</span></li>
        <li><i class="fa fa-fw fa-mobile"></i><a href="/devices" >Geräte </a></li>
        <li><i class="fa fa-fw fa-exclamation-triangle"></i><a href="/defect"  >Defekte Geräte </a></li>
        <li><i class="fa fa-fw fa-arrow-left"></i><a href="/handout" >Auträge </a></li>
        <li onclick="search()"><i class="fa fa-fw fa-info"></i><a href="/devices/">Detail </a></li>
        <li><i class="fa fa-fw fa-user"></i><a href="/admin"   >Admin </a></li>
        <li><i class="fa fa-fw fa-sign-out"></i><a href="/logout"  >Logout </a></li>
    </ul>
</div>
<div id='center' class="main center">
    
    <div id="main">
        <div id="app"></div>
    </div>

    <script src="{% static 'frontend/main.js' %}"></script>
</body>

</html>